<!DOCTYPE html>
<html>
  <head>
    <title>Coverages</title>
    <%= csrf_meta_tags %> <%= csp_meta_tag %>

    <!-- Bootstrap Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="container-fluid" id="top">
        <!-- Partials for the topbar and navigation -->
        <%= render :partial => "partials/topbar" %> 
        <% if logged_in? && ((current_user.role?(:admin)) || (current_user.role?(:contact)))%> 
          <%= render :partial => "partials/nav_admin" %> 
        <% else %> 
          <%= render :partial => "partials/nav_guest" %> 
        <% end %>
      </div>
    </header>
    <main>
      <div class="container-fluid" id="bottom">
        <div class="row">
          <div class="col-12" id="main_content">
            <!-- Flash messages appear here -->
            <%= render :partial => "partials/flash" %>

            <!-- MAIN CONTENT OF TEMPLATE GOES HERE -->
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
